= render :partial => "layouts/table",
         :locals => { :attrs       => [:short_identifier, :report_count],
                      :admin_attrs => [:credibility],
                      :objects     => @users }
